@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    color: darkblue;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    touch-action: manipulation;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: darkblue;
    margin-bottom: 20px;
    font-size: 2.5em; 
    font-weight: 700; 
}

button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: blue;
    transform: scale(1.05);
}

#letterBox {
    margin: 20px;
    padding: 20px;
    border: 2px solid  blue;
    border-radius: 8px;
    background-color:  #e0f7fa;
    display: inline-block;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
    min-height: 150px; 
}

#letterBox.show {
    opacity: 1;
    transform: scale(1);
}

.letter {
    font-size: 4em;
    font-weight: bold;
    color: #d32f2f;
    animation: blink 1s infinite;
}

.hidden {
    display: none;
}

.info {
    min-height: 60px; 
    color: darkblue;
    font-size: 1.2em;
}
    
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}